{{> header}}

<h1>My Settlement System</h1>

<a href="/contract?page=0">
    <button type="button">계약서</button>
</a>

<br/>
<br/>

<a href="/revenue?page=0">
    <button type="button">수익계산서</button>
</a>

<br/>
<br/>

<a href="/settlement?page=0">
    <button type="button">정산</button>
</a>