{{> header}}

<h1>My Settlement System</h1>

<a href="/content/contract/list?page=0">
    <button type="button">계약서</button>
</a>

<br/>
<br/>

<a href="/content/revenue?page=0">
    <button type="button">수익계산서</button>
</a>

<br/>
<br/>

<a href="/content/settlement?page=0">
    <button type="button">정산</button>
</a>