{{> header}}

<h1>특정 월 특정 멤버의 수익</h1>

<form action="/settlement/member" method="get">

    <select name="year">
        {{#years}}
            <option value="{{.}}">{{.}}</option>
        {{/years}}
    </select>년

    <select name="month">
        {{#months}}
            <option value="{{.}}">{{.}}</option>
        {{/months}}
    </select>월

    멤버 타입 : <select name="type">
        {{#types}}
            <option value="{{.}}">{{.}}</option>
        {{/types}}
    </select>

    멤버 id : <select name="memberId">
        {{#distributorIdList}}
            <option value="{{.}}">{{.}}</option>
        {{/distributorIdList}}
    </select>

    <button type="submit">확인</button>
</form>

<script>
    const typeSelect = document.querySelector('select[name="type"]');
    const memberIdSelect = document.querySelector('select[name="memberId"]');

    typeSelect.addEventListener('change', () => {
        const selectedType = typeSelect.value;
        const memberIds = typeMemberIdMap[selectedType];
        memberIdSelect.innerHTML = memberIds.map(memberId => `<option value="${memberId}">${memberId}</option>`).join('');
    });

    const typeMemberIdMap = {
        DISTRIBUTOR: {{distributorIdList}},
        SINGER: {{singerIdList}},
        PRODUCER: {{producerIdList}},
        COMPANY: [0],
    };
</script>

<hr>

<h1>정산 객체 목록</h1>

<table border="1">
    <thead style="background-color: lightcoral">
    <tr>
        <th>ID</th>
        <th>계약서</th>
        <th>정산 대상 타입</th>
        <th>정산 대상</th>
        <th>정산일</th>
        <th>정산금</th>
        <th>생성일</th>
        <th>업데이트일</th>
    </tr>
    </thead>
    <tbody>
    {{#settlementList}}
        <tr>
            <td>{{id}}</td>
            <td>{{contract.id}}</td>
            <td>{{type}}</td>
            <td>{{memberId}}%</td>
            <td>{{settleDate}}%</td>
            <td>{{fee}}</td>
            <td>{{createdAt}}</td>
            <td>{{updatedAt}}</td>
        </tr>
    {{/settlementList}}
    </tbody>
</table>

<style>
    .pagination { display: flex; list-style: none; padding: 0; justify-content: center!important; flex-wrap: wrap; }
    .pagination li.page-item a { display: block; padding: 0.5em 0.75em; border: 1px solid #dee2e6; margin-left: -1px; text-decoration: none; color: #0d6efd; }
    .pagination li.page-item.active a  { color: #fff; background-color: #0d6efd; }
</style>

<ul class="pagination">
    <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
    {{#pageIndex}}
        <li class="page-item"><a class="page-link" href="/settlement?page={{.}}">{{.}}</a></li>
    {{/pageIndex}}
    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
</ul>