{{> header}}

<h1>수익계산서 엑셀 파일 업로드</h1>

<form action="/revenue/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xlsx">
    <button type="submit">등록</button>
</form>

<hr>

<h1>수익계산서 목록</h1>

<table border="1">
    <thead style="background-color: lightcoral">
    <tr>
        <th>ID</th>
        <th>계약서</th>
        <th>날짜</th>
        <th>수익</th>
        <th>생성일</th>
    </tr>
    </thead>
    <tbody>
    {{#revenueList}}
        <tr>
            <td>{{id}}</td>
            <td>{{contract.id}}</td>
            <td>{{date}}</td>
            <td>{{fee}}</td>
            <td>{{createdAt}}</td>
        </tr>
    {{/revenueList}}
    </tbody>
</table>