{{> header}}

<h1>계약서 엑셀 파일 업로드</h1>

<form action="/contract/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xlsx">
    <button type="submit">등록</button>
</form>

<hr>

<h1>계약서 목록</h1>

<table border="1">
    <thead style="background-color: lightcoral">
    <tr>
        <th>ID</th>
        <th>OST</th>
        <th>유통사</th>
        <th>제작사 퍼센트</th>
        <th>가창자 퍼센트</th>
        <th>시작일</th>
        <th>종료일</th>
        <th>생성일</th>
        <th>업데이트일</th>
    </tr>
    </thead>
    <tbody>
    {{#contractList}}
        <tr>
            <td>{{id}}</td>
            <td>{{ost.id}}</td>
            <td>{{distributor.id}}</td>
            <td>{{producerPercent}}%</td>
            <td>{{singerPercent}}%</td>
            <td>{{startDate}}</td>
            <td>{{endDate}}</td>
            <td>{{createdAt}}</td>
            <td>{{updatedAt}}</td>
        </tr>
    {{/contractList}}
    </tbody>
</table>